/* Container Ταμπλό */
#backgammon_board {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Εικόνα Φόντου */

#visual_board {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../imagesErgasia/tavliBoard.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    
   
    grid-template-columns: 47% 6% 47%; 
    
   
    grid-template-rows: 1fr 1fr;
    
   
    /* Αυτό βάζει απόσταση ανάμεσα στην πάνω και την κάτω σειρά */
    row-gap: 50px; 
    
    
    padding: 55px 152px; /* 27 ηταν */
    
    box-sizing: border-box;

}


/* Τεταρτημόρια */
.quadrant { display: flex; width: 100%; height: 100%; }
.quadrant.top-left { grid-column: 1; grid-row: 1; }
.quadrant.top-right { grid-column: 3; grid-row: 1; }
.quadrant.bottom-left { grid-column: 1; grid-row: 2; }
.quadrant.bottom-right { grid-column: 3; grid-row: 2; }

/* Θέσεις (Slots) */
.board-slot {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
   
    margin: 0 2px; 
    
    
    /* debug */
      /* 
    border: 1px dashed yellow; 
    background-color: rgba(255, 0, 0, 0.3); */
}

.board-slot.top { justify-content: flex-start; }
/* Αλλαγή: Βάζουμε flex-start για να πατάνε κάτω */
.board-slot.bottom { 
    justify-content: flex-end; 
    flex-direction: column-reverse;
    
    /* background-color: red; */
}

/* ΠΟΥΛΙΑ */
.piece {
    
    width: 42px; 
    height: 42px; 
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    /* --- ΤΟ ΒΑΣΙΚΟ ΚΟΛΠΟ --- */
    
    margin-bottom: -18px; 
    
    z-index: 10;
    
    /* Πολύ σημαντικό: Να μην παραμορφώνονται (ζουλιούνται) τα πούλια */
    flex-shrink: 0; 
}

/* --- HEAVY STACKING (ΓΙΑ ΤΗ ΜΑΝΑ) --- */
/* Εντολή: Αν σε μια στήλη υπάρχουν πάνω από 5 πούλια (n+6), */
/* τα επόμενα να "χωθούν" ακόμα πιο βαθιά (-30px) για να χωρέσουν τα 15 */
.board-slot .piece:nth-child(n+6) {
    margin-bottom: -30px; 
}

/* Το τελευταίο πούλι στη στοίβα δεν πρέπει να έχει αρνητικό περιθώριο */
.board-slot .piece:last-child {
    margin-bottom: 0;
}

/* Χρώματα (Αυτά τα κρατάς όπως ήταν) */
.white_piece {
    background-image: url('../imagesErgasia/asproPouli.png'); 
}

.green_piece {
    background-image: url('../imagesErgasia/prasinoPouli.png'); 
}

.dice-img {
    width: 60px;       /* Τις κάνουμε μικρές και κομψές */
    height: 60px;
    margin: 0 10px;    /* Κενό ανάμεσά τους */
    vertical-align: middle;
    /* Προαιρετικά εφέ για να φαίνονται ωραία */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}





















/*  */

 /*--- DEBUGGING

.board-slot {
    
    border: 1px dashed yellow; 
    
     
    background-color: rgba(255, 0, 0, 0.3); 
}


 .board-slot:nth-child(even) { 
     background-color: rgba(0, 0, 255, 0.3); 
 }    */